---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - play.github.com
  resources:
  - pedals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - play.github.com
  resources:
  - pedals/finalizers
  verbs:
  - update
- apiGroups:
  - play.github.com
  resources:
  - pedals/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - play.github.com
  resources:
  - rudders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - play.github.com
  resources:
  - rudders/finalizers
  verbs:
  - update
- apiGroups:
  - play.github.com
  resources:
  - rudders/status
  verbs:
  - get
  - patch
  - update
